<div class="footer">
  <ul class="piped">
    <li class="first"><a href="/">Home</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/docs">Help</a></li>
    <li><a href="/docs/contact.html">Contact Us</a></li>
    <li><a href="/press">Press</a></li>
    <li><a href="/got-better/">Product Updates</a></li>
    <li><a href="/docs/api/overview.html">API</a></li>
    <li><a href="http://status.customer.io" target="_blank">Service Status</a></li>
  </ul>
  <br><hr>
  <ul class="piped light">
    <li class="first">© 2012-2016 Peaberry</li>
    <li><a href="/terms-of-service.html">Terms of Service</a></li>
    <li><a href="/privacy-policy.html">Privacy Policy</a></li>
    <li><a href="/anti-spam-policy.html">Anti-Spam Policy</a></li>
  </ul>
  <br>
  <br>
</div>

</body>
</html>
